@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  /* background-color: hsl(202, 22%, 10%);
   */
  color: white;
  font-family: "Inter", sans-serif;
}
input {
  color: black;
  padding: 0 5px;
}
.icon {
  font-weight: 400;
  justify-content: start;
}
.icon:hover {
  background-color: #3c3232;
  border-radius: 16px;
}
