@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

img {
  max-width: none;
}
.imageho {
  max-width: 100%;
}
* {
  margin: 0;
  /* background-color: black; */

  color: white;
  font-family: "Inter", sans-serif;
}
input {
  color: black;
  background-color: rgb(247, 247, 247);
  padding: 0 5px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
input:focus {
  transition-delay: 100ms;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
}

.icon {
  font-weight: 400;
  justify-content: start;
}
.icon:hover {
  background-color: #3c3232;
  border-radius: 16px;
}
.post__wrapper {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.fixx {
  position: fixed;
  width: 100%;
  background-color: black;
}
.mainn {
  margin-top: 5rem;
  padding-top: 15px;
  padding-bottom: 25px;
}
.bg__black {
  background-color: "#000000";
}
.icon {
  padding: 3px 7px;
  border-radius: 14px;
}
icon:hover {
  background-color: #616060;
}
.signup__button {
  background-color: rgb(95, 88, 231);

  font-size: 22px;
  color: white;
  border-radius: 19px;
}
.login__button {
  color: rgb(95, 88, 231);
  font-size: 22px;
  background-color: white;
  border-radius: 19px;
  border: 2px rgb(95, 88, 231) solid;
}
.login__button2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  background-color: rgb(95, 88, 231);
  border-radius: 19px;
  border: 2px rgb(95, 88, 231) solid;
}
.singleconvo {
  font-size: 18px;
  font-weight: bold;
}
