@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

img {
  max-width: none;
}
.imageho {
  max-width: 100%;
}
* {
  margin: 0;
  /* background-color: black; */

  color: white;
  font-family: "Inter", sans-serif;
}

input.comment {
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background-color: #000000;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.signup input{
  color:black;
}
input .comment :focus {
  transition-delay: 100ms;
  color: white;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
}
.send_message {
  background-color: #4b4949;
  border: none;
}

.icon {
  font-weight: 400;
  justify-content: start;
}
.icon:hover {
  background-color: #3c3232;
  border-radius: 16px;
}
.post__wrapper {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.fixx {
  position: fixed;
  width: 100%;
  background-color: black;
}
.mainn {
  margin-top: 5rem;
  padding-top: 15px;
  padding-bottom: 25px;
}
.bg__black {
  background-color: "#000000";
}
.icon {
  padding: 3px 7px;
  border-radius: 14px;
}
icon:hover {
  background-color: #616060;
}
.signup__button {
  background-color: rgb(95, 88, 231);

  font-size: 22px;
  color: white;
  border-radius: 19px;
}
.login__button {
  color: rgb(95, 88, 231);
  font-size: 22px;
  background-color: white;
  border-radius: 19px;
  border: 2px rgb(95, 88, 231) solid;
}
.login__button2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  background-color: rgb(95, 88, 231);
  border-radius: 19px;
  border: 2px rgb(95, 88, 231) solid;
}
.msg_sidebar {
  border: 1px solid rgb(247, 247, 247, 0.1);

  /* background-color: #27292a; */
}
.singleconvo {
  font-size: 18px;
  font-weight: bold;
}
.nav__section {
  background-color: #1e1e1f;
  border-bottom: rgb(247, 247, 247, 0.3) 1px solid;
  width: 100%;
}
.hi {
  color: #5858ce;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollable_chat {
  max-height: 80vh;
  min-height: 80vh;
}
.comments {
  width: 700px;
}
.add_conversation{
padding:2.5px;
}
.add_conversation:hover{
background-color: #201818;
border-radius: 5px;
}
.dialogue__content{
  height: 60vh;
  width: 79vh;
  
  /* width: 80vw; */
  
}
.mybtn:hover span{
  color:#3c3232;
}
.mybtn{
  background-color: #3c3232;
}
.mybtn:hover{
  background-color: rgb(239, 235, 235);
  color:#3c3232;
  
}
.page{
  min-height: 100vh;
}
@media only screen and (max-width:600px){

  .singleNoteCard{
    width:180px;
    height: 140px;
  }
}
@media only screen and (min-width:600px){

  .singleNoteCard{
    width:250px;
    height: 230px;
  }
}
@media only screen and (min-width:1200px){

  .singleNoteCard{
    width:250px;
    height: 230px;
  }
}